/* BODY */
#body {}
#body .section {
	position: relative;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 20px;
}
#body .section:after {
	clear: both;
}
#body .section-full {
	height: auto !important; /* real browsers */
	height: 100%; 			/* IE6: treaded as min-height*/
	min-height: 100%; 		/* real browsers */
}
.section-more-full {
	height: auto !important; /* real browsers */
	height: 900px; 			/* IE6: treaded as min-height*/
	min-height: 900px; 		/* real browsers */
}
#body .section .section-header h1 {
	font-size: 42px;
	font-weight: 300;
	color: #222;
	margin-bottom: 20px;
}
#body .section .section-header h2 {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
#body .section .section-header .text-box {

}
#body .section .section-header .text-box span {
	border: 2px solid #fff;
	padding: 10px 15px;
	font-size: 12px;
	color: #fff
}
#body .section .section-header .horizontal-break {
	margin: 15px;
}
#body .section .section-header .horizontal-break span {
	display: block;
	margin: auto;
	width: 30px;
	height: 3px;
	background: #dbdbdb;
}
#body .section .section-header .help-block {
	font-size: 13px;
}

#section-post .block-post {
	background: #FFF;
	border: 1px solid #f0f0f0;
	padding: 30px 55px 30px 35px;
}
#section-post .block-post .block-header {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-left: 25px;
}
#section-post .block-post .block-header h3 {
	font-size: 14px;
	text-transform: uppercase;
	color: #aaa;
	font-weight: normal;
	letter-spacing: 1px;
}
#section-post .block-post .block-head{
	margin: 30px 0 0px;
}
#section-post .block-post .block-body ol li{
	list-style: none;
	margin-top:20px
}
#section-post .block-post .block-body ul li{
	padding: 15px 15px 10px 15px;
	border-radius: 0;
	border-left: 1px solid #ddd;
}
#section-post .block-post .block-body ul{
	list-style: none;
	padding-left: 40px;
}
#section-post .block-post .block-body a:hover  {
	text-decoration: underline;
}
#section-post .block-post .block-footer {
	margin-top: 50px;
}
#section-post .block-post .block-footer .box-slab {
	height: 2px;
	background: #3681ba;
	width: 50px;
	margin: auto;
	margin-bottom: 20px;
}
.info-akomodasi{
	border: solid 1px dimgrey;
	padding: 15px;
}
#section-post .block-post .block-footer  {
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: inherit;
	letter-spacing: 0.5px;
	display: block;
	margin-bottom: 50px;
	text-decoration: none;
}
#section-post .block-post .block-footer a {
	color: inherit;
}
#section-post .block-header h4{
	padding-top:15px;
}
#section-post .block-post .post {
	padding-bottom:40px;
}
#section-post .block-post .block-footer a:hover {
	color: #3681ba;
	text-decoration: none;
}

#section-post .block-side-post {
	padding-top: 20px;
}

#section-post .block-side-post a{
	text-decoration: none;
}
#section-post .block-side-post .featured-type{
}
#section-post .block-side-post .article-container{
	margin: 1.5em 0 1.5em -1.06em;
	padding: 0em 1.25em;
	border: .08em solid rgba(0,0,0,.1);
	border-left: 0;
	background: rgba(255,255,255,.55);
	border-radius: 0 .325em .325em 0;
}
#section-post .block-side-post .article-container article {
	padding-top: 1em;
	margin-bottom: 1.5em;
}
#section-post .block-side-post .article-container .post {
	border-top: .08em solid rgba(0,0,0,.05);
}
#section-post h4 a {
	color: inherit;
}
#section-post a:hover {
	color: #3681ba;
}
#section-post .block-body p {
	line-height: 22px;
	font-size: 14px;
	color: #555;
	text-align: justify;
	text-justify: inter-word;
}

@media (min-width: 1200px){
	.container-post {
		width: 100%;
		padding: 0 0;
	}
}
/* END BODY */

/* FOOTER */
.site-footer {}
.site-footer .footer-top {
	background: #35405a;
	padding: 30px 0;
	color: #fff;
}

.site-footer .footer-top .footer-menu-body {}
.site-footer .footer-top .footer-menu-body ul {

	list-style: outside none none;
	padding-left: 0;
}
.site-footer .footer-top .footer-menu-body ul li {
	margin-bottom: 15px;
	padding-left: 20px;
	position: relative;
}
.site-footer .footer-top .footer-menu-body ul li:after {
	content: "";
	position: absolute;
	left: 0px;
	top: 7px;
	width: 6px;
	height: 6px;
	background: #A6A5A5 none repeat scroll 0% 0%;
}
.site-footer .footer-top .footer-menu-body ul li a {
	color: #eee;
	font-size: 14px;
}

.site-footer .footer-top .footer-contact-header {
}
.site-footer .footer-top h3 {
	font-size: 12px;
	color: #eee;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 600;
	margin-bottom: 40px;
	display: block;
}
.site-footer .footer-top .footer-contact-body {
	margin-bottom: 10px;
}
.site-footer .footer-top .footer-contact-body strong {
	font-size: 16px;
	font-weight: normal;
	display: block;
	margin-bottom: 10px;
}
.site-footer .footer-top .footer-contact-body strong span {
	font-size: 13px;
	color: #ddd;
	line-height: 25px;
	letter-spacing: 0.5px;
	font-style: italic;
}
.site-footer .footer-top .footer-contact-body strong span i {
	margin-right: 10px;
	font-style: normal;
	background: #ddd;
	text-align: center;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	color: #3c4866;
	width: 24px;
	padding: 5px 0;
}
.site-footer .footer-top .footer-contact-body p {
	font-size: 13px;
	color: #ccc;
	line-height: 20px;
	margin-bottom: 15px;
}
.site-footer .footer-top .footer-contact-footer {
	border-top: 1px solid #455271;
	padding-top: 10px;
	margin-bottom: 50px;
}
.site-footer .footer-top .footer-contact-footer a i {
	width: 20px;
}
.site-footer .footer-top .footer-contact-footer a:hover {
	color: #ccc;
	font-size: 14px;
}
.site-footer .footer-top .footer-contact-footer a:first-child {
	border-left: 1px solid #3c4866;
}
.site-footer .footer-top .footer-contact-footer a {
	/*background: #3c4866;*/
	color: #fff;
	text-align: center;
	padding: 12px 10px;
	/*-webkit-border-radius: 100px;
	border-radius: 100px;*/
	border-right: 1px solid #3c4866;
	display: block; float: left;
}
.site-footer .footer-bot {
	padding: 18px 0;
	background: #282e3d;
}
.site-footer .footer-bot p {
	margin-bottom: 0;
	font-size: 11px;
	color: #999;
	text-transform: uppercase;
	float: left;
}
.site-footer .footer-bot ul {
	list-style: none;
	padding-left: 0;
	float: right;
	margin-bottom: 0;
	margin-top: -4px;
}
.site-footer .footer-bot ul li {
	display: inline-block;
}
.site-footer .footer-bot ul li a {
	display: block;padding-left: 20px;
	font-size: 11px;
	color: #999;
	text-transform: uppercase;
}
#twitter-widget {}
#twitter-widget ul {
	list-style: none;
	padding-left: 0;
}
#twitter-widget li {
	font-size: 13px;
	border-bottom: 1px solid #414e6d;
	margin-bottom: 15px;
}
#twitter-widget li a {
	color: #FFF;
	font-weight: bold;

}
#twitter-widget li p {
	font-size: 13px;
}
#twitter-widget .user {
}
#twitter-widget .user img {
	display: none;
}
#twitter-widget .user span:first-child{
	display: none;
}
#twitter-widget .tweet {
	margin-bottom: 0;
}
#twitter-widget .timePosted {
	font-size: 12px;
	color: #aaa;
	font-style: italic;
}
/* END FOOTER */


#section-hmif {
	background-position:center;
	background: url(../images/hmif-cover.jpg) 0px -70px;
	background-repeat:no-repeat;
}
#section-hmif h1 {
	font-size: 100px !important;
	text-transform: uppercase;
	color: #fff !important;
	font-weight: bold;
	font-family: BebasNeue !important;
	text-align: center;
	line-height: 60px;
	margin-top: 180px;
}
#section-hmif h1 span {
	display: block;
}
#section-hmif h1 .hm {
	font-size: 40px !important;
	font-weight: 500;
	font-family: BebasNeue !important;
	letter-spacing: 2px;
	line-height: 75px;
}
#section-hmif h1 .ub {
	font-size: 32px;
	letter-spacing: 3px;
	font-family: BebasNeue !important;
	font-weight: lighter;
}

#section-page {
	background: #fff;
	padding: 0px 0 100px 0;
}
#section-page .container {
	background: #fff;
}
#section-page .page-body {}
#section-page .page-body p {
	line-height: 28px;
	color: #333;
	margin-bottom: 20px;
}